include *.py
include *.txt
include *.rst
include buildout.cfg
include .travis.yml
include .coveragerc
include tox.ini

recursive-include src *.gif
recursive-include src *.pt
recursive-include src *.rst
recursive-include src *.zcml
recursive-include src *.stx
recursive-include src *.txt
recursive-include src *.png
recursive-include src *.css
recursive-include src *.cfg
recursive-include src *.js
recursive-include src *.html
recursive-include src *.xml

recursive-include docs *.py *.rst Makefile
